.symbol {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "symbol info"
        "name info";
    background: var(--c-background-alt);
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;

    &__symbol {
        grid-area: symbol;
        padding: 0 0 1em 0;
        font-weight: bold;
    }

    &__name {
        grid-area: name;
        padding: 1em 0 0 0;
        color: var(--c-font-secondary);
    }

    &__info {
        grid-area: info;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: var(--c-font-secondary);
    }
}
