@import "../../global.scss";

.finance-header {
    @include heading;

    &__current-price {
        margin: 0.5em 0 0 0;
        font-size: 2rem;
        font-weight: bold;
    }
}

.finance-chart {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-font-secondary);
}

.data-table {
    display: flex;
    color: var(--c-font-secondary);

    &__col {
        width: 100%;
    }

    &__row {
        display: block;
        padding: 0.5em 0;
    }
}

.btn__fav {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    filter: grayscale(100%) opacity(0.7);

    transition: 500ms filter ease;

    .icon {
        $size: 2rem;

        stroke: var(--c-accent);
        fill: none;
        width: $size;
        height: $size;

        path {
            fill: rgba(gold, 0.5);
        }
    }

    &--bookmarked,
    &:hover,
    &focus {
        filter: grayscale(0%) opacity(1);
    }
}
