.search {
    position: relative;
    height: 80px;

    &__input {
        height: 100%;
        border: none;
        background: var(--c-background-alt);
        color: var(--c-font-primary);
        font-size: 1.2em;
        padding: 1em;
        width: 100%;
        outline: none;
    }

    &__result-list {
        position: relative;
        z-index: 1;
        list-style: none;
        padding: 0;
        background: var(--c-background-alt);
        font-size: 1em;
        width: 100%;
    }

    &__result {
        &:hover,
        &:focus {
            background: var(--c-active);
        }

        .result-item {
            $result-item-padding: 1em;

            display: grid;
            grid-template-columns: 8fr 2fr;
            grid-template-rows: 1fr 1fr auto;
            grid-template-areas:
                "symbol info"
                "name info"
                "chart chart";

            cursor: pointer;

            &--active {
                background: var(--c-active);
            }

            &__symbol,
            &__name,
            &__info {
                padding: $result-item-padding;
                color: var(--c-font-secondary);
            }

            &__symbol {
                grid-area: symbol;
                padding-bottom: $result-item-padding / 2;
                font-weight: bold;
                color: var(--c-font-primary);
            }

            &__name {
                grid-area: name;
                padding-top: $result-item-padding / 2;
            }

            &__info {
                grid-area: info;
                align-self: center;
            }
        }
    }

    &__chart {
        grid-area: chart;
    }

    &__cancel-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        cursor: pointer;
        border: none;
        background: none;
        opacity: 0;

        .icon {
            stroke: var(--c-nav-bg);
            fill: none;
            opacity: 0.5;

            transition: 250ms opacity ease;
        }

        &--show {
            opacity: 1;

            &:hover {
                .icon {
                    opacity: 0.9;
                }
            }
        }
    }
}
