@import "./global.scss";

.App {
    --light-font: #c4c4c4;
    --dark-font: #181818;

    --c-background: #282c34;
    --c-background-alt: #3b3e42;
    --c-active: #303133;
    --c-accent: gold;
    --c-font-primary: var(--light-font);
    --c-font-secondary: #9c9c9c;

    --btn-c-background: var(--c-nav-bg);
    --btn-c-background-active: var(--c-nav-bg-alt);
    --btn-c-font: white;
    --btn-c-font-active: #cccccc;

    &[data-theme="white"] {
        --c-background: #ececec;
        --c-background-alt: rgb(194, 194, 194);
        --c-active: rgba(48, 49, 51, 0.1);
        --c-font-primary: var(--dark-font);
        --c-font-secondary: #4b4b4b;

        --btn-c-background: var(--c-background-alt);
        --btn-c-background-active: var(--c-nav-bg);
        --btn-c-font: var(--dark-font);
        --btn-c-font-active: white;
    }

    h1 {
        color: var(--c-font-primary);
    }

    p {
        color: var(--c-font-secondary);
    }

    min-height: 100vh;
    padding-bottom: 2em;
    background: var(--c-background);
    color: var(--c-font-primary);

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
    }

    .main {
        margin-top: 1em;
    }

    .btn {
        @include button;
    }

    .heading {
        @include heading;
    }
}
