@import "./global.scss";

.App {
    --light-font: rgb(196, 196, 196);
    --dark-font: rgb(24, 24, 24);

    --c-background: rgb(40, 44, 52);
    --c-background-alt: rgb(59, 62, 66);
    --c-active: rgb(48, 49, 51);
    --c-accent: gold;
    --c-font-primary: var(--light-font);
    --c-font-secondary: rgb(158, 158, 158);

    --btn-c-background: var(--c-nav-bg);
    --btn-c-background-active: var(--c-nav-bg-alt);
    --btn-c-font: rgb(165, 165, 165);
    --btn-c-font-active: rgb(165, 165, 165);

    &[data-theme="white"] {
        --c-background: rgb(236, 236, 236);
        --c-background-alt: rgb(199, 199, 199);
        --c-active: rgb(163, 163, 163);
        --c-font-primary: var(--dark-font);
        --c-font-secondary: rgb(75, 75, 75);

        --btn-c-background: var(--c-background-alt);
        --btn-c-font: var(--dark-font);
        --btn-c-font-active: var(--light-font);
    }

    min-height: 100vh;
    background: var(--c-background);
    color: var(--c-font-primary);

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Montserrat", sans-serif;
        padding: 0 0 0.5em 0;
    }

    p {
        line-height: 1.5;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
    }

    .main {
        margin-top: 1em;
    }

    .btn {
        @include button;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2em;

        &__heading {
            font-size: 1.8em;
            padding-bottom: 0;
        }

        &__subheading {
            color: var(--c-font-secondary);
            font-size: 0.9rem;
        }

        .btn {
            align-self: flex-end;
        }
    }
}
