@mixin button {
    border: none;
    color: var(--btn-c-font);
    background: var(--btn-c-background);
    padding: 1rem 2rem;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-radius: 4px;
    cursor: pointer;

    transition: 500ms ease;

    &:hover,
    &:focus,
    &--active {
        background: var(--btn-c-background-active);
        color: var(--btn-c-font-active);
    }
}

@mixin heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;

    &__heading {
        padding-bottom: 0;
    }

    &__subheading {
        color: var(--c-font-secondary);
        font-size: 0.9rem;
    }

    .btn {
        align-self: flex-end;
        margin-left: 2rem;
    }
}
