@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat&display=swap");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    --nav-width-open: 15rem;
    --nav-width-closed: 5rem;

    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-bottom: 100px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.25rem;

        &-track {
            background: #1e1e24;
        }

        &-thumb {
            background: #6649b8;
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        margin-bottom: 0;
        margin-left: var(--nav-width-closed);
    }
}

@media screen and (min-width: 900px) {
    body {
        margin-left: var(--nav-width-open);
    }
}
