.settings {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;

        &:hover,
        &:focus-within {
            background: var(--c-active);
        }
    }

    &__label {
        color: var(--c-font-secondary);
    }

    &__input {
        min-width: 250px;
        padding: 1em;
        border: none;
        border-radius: 4px;
        background: var(--c-background-alt);
        color: var(--c-font-secondary);
    }

    // Remove spinners for number inputs
    input[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
