.settings {
    &__item {
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin-bottom: 1em;
    }

    &__label,
    &__info {
        display: flex;
        align-items: center;
    }

    &__label {
        font-weight: bold;
        color: var(--c-font-secondary);
    }

    &__info {
        display: none;
        margin-right: auto;
        padding-right: 4em;
        font-size: 0.9rem;
        font-style: italic;
    }

    &__input {
        width: 100%;
        padding: 1em;
        border: none;
        border-radius: 4px;
        background: var(--c-background-alt);
        color: var(--c-font-secondary);

        outline: none;

        &:focus-within {
            box-shadow: -6px 0px rgba(rgb(14, 17, 31), 0.7);
        }
    }

    // Remove spinners for number inputs
    input[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

@media screen and (min-width: 900px) {
    .settings {
        &__item {
            grid-template-columns: 1fr 2fr 2fr;
        }

        &__info {
            display: flex;
        }
    }
}
